<!-- Proyectos realizados -->
<div class="modal fade" id="ProyectosRealizados" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Agregar o Quitar Proyectos</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-12">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Proyecto 1
          </button>
          <button type="button" class="list-group-item list-group-item-action"> Proyecto 2</button>
          <button type="button" class="list-group-item list-group-item-action"> Proyecto 3</button>
          <button type="button" class="list-group-item list-group-item-action" disabled> Proyecto 4</button>
        </div>
      </div>
      <div class="col mb-2">
        <label for="formFile" class="form-label">Imagen</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <div class="form-floating mb-2">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
          style="height: 60px"></textarea>
        <label for="floatingTextarea2">Titulo del Proyecto</label>
      </div>
      <div class="form-floating mb-2">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
          style="height: 60px"></textarea>
        <label for="floatingTextarea2">Descripcíon del Proyecto</label>
      </div>
      <div class="form-floating mt-0">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
          style="height: 60px"></textarea>
        <label for="floatingTextarea2">URL donde se aloja el proyecto</label><br>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger">Eliminar</button>
      <button type="button" class="btn btn-primary">Nueva Proyecto</button>
      <button type="button" class="btn btn-primary">Guardar Todo</button>
    </div>
  </div>
</div>
</div>
<!-- Fin proyectos realizados -->
