<!-- Modificacion de E-Mail -->
<div class="modal fade" id="CorreoElectronico" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Modificar</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <br>
      <div class="col w-100">
        <label for="validationDefault05" class="form-label">Ingrese Nuevo E-Mail</label>
        <input type="text" class="form-control" id="validationDefault05" required>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger">Eliminar</button>
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</div>
</div>
<!-- Fin Modificacion de E-Mail -->
