<!-- Modal del loguin -->
<div class="modal fade" id="loguinModal" tabindex="-1" aria-labelledby="loguinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Diseño de loguin -->
          <div class="container w-100 bg-primary mt-5 rounded shadow">
            <div class="row aling-items-stretch">
              <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
              </div>
              <div class="col bg-white rounded-end">
                <div class="text-center">
                  <img src="/assets/img/arg-programa.png" width="200px" alt="">
                </div>

                <h2 class="fw-bold text-center py-2 mb-2">Bienvenido</h2>
                <!-- Loguin -->
                <form action="#">
                  <div class="mb-2"><label for="email" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" name="email">
                  </div>

                  <div class="mb-4"><label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                  </div>
                  <div class="d-grid">
                    <form>
                      <button type="submit" formaction="dasboard.html" class="btn btn-primary" >Iniciar Secion</button>
                    </form>
                  </div>
                  <div class="my3">
                    <span>No tienes cuenta? <a href="#">Registrate</a></span><br>
                    <span><a href="#">Recuperar Password</a></span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin de loguin -->
