.bg {
    background-image: url(/assets/img/Portada_Loguin.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .error{
    color: rgb(217, 26, 26);
    font-size: 15px;
    text-align: center;
  }