<hr>
<!-- Proyectos realizados -->
<div class="card mb-3 my-3 mx-3">
    <h3 style="text-align:center; margin-top: 20px;">Proyectos Realizados <i class="bi bi-pencil-fill btn"
            data-bs-toggle="modal" data-bs-target="#ProyectosRealizados"></i></h3>
    <!-- Proyecto 1 -->

    <div class="container mt-3">
        <div class="row mb-3">
            <div class="col-lg-4 col-md-12 col-mb-4 mt-3" *ngFor="let misProyectos of proyectosRealizados">
                <div class="card h-100" style="width: 20rem"><i class="bi bi-trash btn"></i>
                    <img [src]="misProyectos.img" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{misProyectos.nombre}}</h5>
                        <p class="card-text">{{misProyectos.detalle}} </p><br><br><br>
                        <a href="#" class="btn btn-primary">Ver Más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>