<nav class="navbar navbar-expand-md diagonal fixed-top">
    <div class="container text-center">
      <a class="navbar-brand" href="#">
        <img src="assets/img/arg-programa.png" alt="" width="150" height="auto">
        <h6>#YoProgramo</h6>
      </a>

      <!-- boton del menu -->
      <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <!-- Menu colapsable  -->
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav flex-row flex-wrap ms-auto" >
          <div *ngFor="let red of sociales" >
            <li class="nav-item col-1 col-md-auto p-3"><i class={{red.clase}}></i></li>
          </div>
          <i class="bi bi-pencil-fill btn" data-bs-toggle="modal" data-bs-target="#RedesSociales"></i>
          <li class="nav-item col-1 col-md-auto p-3"><i class="bi bi-person-check-fill" type="button"></i>
            <!-- Button trigger modal -->
          <li class="nav-item col-1 col-md-auto p-3"><i class="bi bi-person-x-fill" type="button"
              data-bs-toggle="modal" data-bs-target="#loguinModal">
            </i>
          </li>
        </ul>
      </div>
    </div>
  </nav>