<!-- Redes Sociales -->
<div class="modal fade" id="RedesSociales" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Quitar o Agregar Red Socila</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-12">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Social 1
          </button>
          <button type="button" class="list-group-item list-group-item-action">Social 2</button>
          <button type="button" class="list-group-item list-group-item-action">Social 3</button>
          <button type="button" class="list-group-item list-group-item-action">Social 4</button>
          <button type="button" class="list-group-item list-group-item-action" disabled>Social 5</button>
        </div>
      </div>       
    <br>
    <div class="col w-50 mx-3">
      <label for="validationDefault05" class="form-label">Ingrese red social</label>
      <input type="text" class="form-control" id="validationDefault05" required>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger">Eliminar</button>
    <button type="button" class="btn btn-primary">Nueva Red Social</button>
    <button type="button" class="btn btn-primary">Guardar Todo</button>
  </div>
</div>
</div>
</div>
<!-- Fin Redes Sociales -->
