<!-- Datos Personales -->
<div class="modal fade" id="DatosPersonal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Datos Personales</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido"><br>
              <input type="text" class="form-control" placeholder="Fecha de Nacimiento" aria-label="Fecha Nac"><br>
              <input type="text" class="form-control" placeholder="Lugar de Residencia" aria-label="Residencia"><br>
              <input type="text" class="form-control" placeholder="Email" aria-label="Email">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nombre/s" aria-label="Nombre"><br>
              <input type="text" class="form-control" placeholder="Edad" aria-label="Edad"><br>
              <input type="text" class="form-control" placeholder="Nacionalidad" aria-label="Nacionalidad"><br>
              <input type="text" class="form-control" placeholder="Telefono" aria-label="Telefono">
            </div>
          </div><br>
          <div class="col">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></textarea>
              <label for="floatingTextarea2">Descripcion Personal</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Nueva Informacion</button>
            <button type="button" class="btn btn-primary">Guardar Todo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Datos Personales -->