<hr>
<!-- Barra de habilidades -->
<section class="card mb-3 my-3 mx-3">

    <h3 style="text-align:center; margin-top: 20px;">Habilidades</h3>
    <h5 class="texto-barra mt-3 mb-2 text-center">MANEJO DE SOFTWARE<i class="bi bi-pencil-fill btn"
        data-bs-toggle="modal" data-bs-target="#HabilidadesSoftware"></i></h5>


    <div class="row d-flex justify-content-center text-center mt-4">

      <div class="col">
        <h6>HTML</h6>
        <div class="progress-circle progress-90"><span>90</span></div>
      </div>
      <div class="col">
        <h6>CSS</h6>
        <div class="progress-circle progress-75"><span>75</span></div>
      </div>
      <div class="col">
        <h6>ANGULAR</h6>
        <div class="progress-circle progress-30"><span>30</span></div>
      </div>
      <div class="col">
        <h6>MYSQL</h6>
        <div class="progress-circle progress-50"><span>50</span></div>
      </div>
      <div class="col">
        <h6>WORDPRESS</h6>
        <div class="progress-circle progress-35"><span>35</span></div>
      </div>
      <div class="col">
        <h6>OFIMATICA</h6>
        <div class="progress-circle progress-80"><span>80</span></div>
      </div>
    </div>

    <h5 class="texto-barra mt-3 mb-2 text-center mt-5">MANEJO DE RRHH<i class="bi bi-pencil-fill btn"
        data-bs-toggle="modal" data-bs-target="#HabilidadesSoftware"></i></h5>

    <div class="row d-flex justify-content-center text-center mt-4">

      <div class="col">
        <h6>TRABAJO EN EQUIPO</h6>
        <div class="progress-circle progress-90"><span>90</span></div>
      </div>
      <div class="col">
        <h6>TRABAJO EN EQUIPO</h6>
        <div class="progress-circle progress-75"><span>75</span></div>
      </div>
      <div class="col">
        <h6>TRABAJO EN EQUIPO</h6>
        <div class="progress-circle progress-5"><span>5</span></div>
      </div>
    </div>
  </section>
  <!-- Fin barras de Habilidades -->
