<hr>
<!-- Barra de habilidades -->
<section class="card mb-3 my-3 mx-3">
  <h3 style="text-align:center; margin-top: 20px;">Habilidades</h3>
    <h5 class="texto-barra mt-3 mb-2 text-center">MANEJO DE SOFTWARE<i class="bi bi-pencil-fill btn"
        data-bs-toggle="modal" data-bs-target="#HabilidadesSoftware"></i></h5>
    <div class="row d-flex justify-content-center text-center mt-4">
      <div class="col" *ngFor="let c of b">
        <h6>{{c.nombre}}</h6>
        <div class="progress-circle progress-{{c.porcentaje}}"><span>{{c.porcentaje}}</span></div>
      </div>
    </div>
    <h5 class="texto-barra mt-3 mb-2 text-center mt-5">MANEJO DE RRHH<i class="bi bi-pencil-fill btn"
        data-bs-toggle="modal" data-bs-target="#HabilidadesSoftware"></i></h5>
    <div class="row d-flex justify-content-center text-center mt-4">
      <div class="col" *ngFor="let grupoPersona of manejoPersonal">
        <h6>{{grupoPersona.nombre}}</h6>
        <div class = "progress-circle progress-{{grupoPersona.porcentaje}}"><span>{{grupoPersona.porcentaje}}</span></div>
      </div>
    </div>
  </section>
  <!-- Fin barras de Habilidades -->
