<!-- Cambiar Imagen -->
<div class="modal fade" id="Foto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Subir una Foto Personal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col ">
              <label for="formFile" class="form-label">Imagen</label>
              <input class="form-control" type="file" id="formFile">
              <button type="button" class="btn btn-primary mt-2 mx-1">Subir</button>
              <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Cambiar Imagen -->
