<hr>
<!-- Datos Academicos -->
<section>
  <h3 style="text-align:center; margin-top: 20px; ">Datos Academicos </h3>
  <div class="card mb-3 my-3 mx-3" style="max-width:fit-content;">
    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title">Estudios y capacitaciones realizados <i class="bi bi-pencil-fill btn"
            data-bs-toggle="modal" data-bs-target="#DatosAcademicos"></i></h5>
        <br>
        <div *ngFor="let estudiostodos of saberes">
          <div class="card border-info mb-3">
            <div class="card-header bg-secondary bg-opacity-25">
              <div>
                <h6>{{estudiostodos.titulo}}</h6>
              </div>
            </div>
            <div class="card-body">
                
              <p>{{estudiostodos.descripcion}}</p>
            
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin datos academicos -->