<hr>
<!-- Datos Academicos -->
<section>
  <h3 style="text-align:center; margin-top: 20px; ">Datos Academicos </h3>
  <div class="card mb-3 my-3 mx-3" style="max-width:fit-content;">
    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title">Estudios y capacitaciones realizados <i class="bi bi-pencil-fill btn" 
            data-bs-toggle="modal" data-bs-target="#DatosAcademicos"></i></h5>
        <br>
        <div class="card border-info mb-3">
          <div class="card-header bg-secondary bg-opacity-25">
            <h6>Nivel Secundario</h6>
          </div>
          <div class="card-body">
            <blockquote>
              <p>Egrese en 1.993 del Establecimiento Centro Educativo Nivel Secundario Número 63, con
                el título de “Perito Comercial, especializado en Administración de Empresas”.</p>
            </blockquote>
          </div>
        </div>
        <div class="card border-info mb-3">
          <div class="card-header bg-secondary bg-opacity-25">
            <h6>Nivel Universitario</h6>
          </div>
          <div class="card-body">
            <blockquote>
              <p>Curse 1º y 2º año de la “Facultad de Ciencias Económicas” En la ciudad de Paraná Entre
                Ríos.</p>
            </blockquote>
          </div>
        </div>
        <div class="card border-info mb-3">
          <div class="card-header bg-secondary bg-opacity-25">
            <h6>Cursos y Capacitaciones</h6>
          </div>
          <div class="card-body">
            <blockquote>
              <ul>
                <li class="card-text">Egrese en el 2.004, del Instituto Argentino de Computación con el título de
                  “Programador en Sistemas de Interfaz Gráfica”.</li>
                <br>
                <li class="card-text">Cursos de Capacitación realizado por la empresa TIA S. A.: “Calidad de
                  Servicio”,
                  “Manejo y Gestión de Mercadería”, “Recursos Humanos”, “Marketing y Negociación”, “Selección de
                  Personal”,
                  “Mix y Márgenes”.</li>
                <br>
                <li>Curso dictado por la empresa SELF de “Programa de Management 2003”.</li>
                <br>
                <li>En curso ultima tres materias “Analista en sistema de la información” en el Instituto Raúl
                  Scalabrini
                  Ortiz - Bs As.</li>
              </ul>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- Fin datos academicos -->
