<!-- Sofware -->
<div class="modal fade" id="HabilidadesSoftware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Agregar o Quitar Habilidad en Sofware</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-12">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Habilidad-1
          </button>
          <button type="button" class="list-group-item list-group-item-action">Habilidad-2</button>
          <button type="button" class="list-group-item list-group-item-action">Habilidad-3</button>
          <button type="button" class="list-group-item list-group-item-action">Habilidad-4</button>
          <button type="button" class="list-group-item list-group-item-action" disabled>Habilidad-5</button>
        </div>
      </div>
      <br>
      <div class="col w-25 mx-3">
        <label for="validationDefault05" class="form-label">% Aprendizaje</label>
        <input type="text" class="form-control" id="validationDefault05" required>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger">Eliminar</button>
      <button type="button" class="btn btn-primary">Nuevo Habilidad</button>
      <button type="button" class="btn btn-primary">Guardar Todo</button>
    </div>
  </div>
</div>
</div>
<!-- Fin Sofware -->
