<div class="modal fade" id="ExperienciaLaboral" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregar o Quitar Empleos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <body class="modal-body">
        <form [formGroup]="contactForm" (ngSubmit)="onEnviar($event)">
          <div class="col-12 mx-auto">
            <input type="text" class="form-control " placeholder="Nombre de la Empresa" aria-label="Empresa"
              formControlName="Empresa" [ngClass]="{'is-invalid': validarDatos('Empresa')}" />
            <div class="invalid-feedback">
              <span *ngIf="contactForm.get('Empresa')?.errors">El nombre de la Empresa es requerido </span>
            </div>
            <br>
            <input type="text" class="form-control" placeholder="Tarea Realizadas" aria-label="Tarea"
              formControlName="Tarea" [ngClass]="{'is-invalid': validarDatos('Tarea')}" />
            <div class="invalid-feedback">
              <span *ngIf="contactForm.get('Tarea')?.errors">El campo es requerido</span>
            </div><br>
            <div class="row"> 
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Fecha de Inicio" aria-label="Inicio"
                formControlName="Inicio" [ngClass]="{'is-invalid': validarDatos('Inicio')}" />
              <div class="invalid-feedback">
                <span *ngIf="contactForm.get('Inicio')?.errors">Fecha requerida </span>
              </div>
            </div>
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Fecha de Fin" aria-label="Fin"
                formControlName="Fin" [ngClass]="{'is-invalid': validarDatos('Fin')}" />
            </div>
          </div><br>

          <div class="col">
            <label for="formFile" class="form-label">Logo de la Empresa</label>
            <input class="form-control" type="file" id="formFile">
            <!-- <button type="button" class="btn btn-primary mt-4 mx-1">Subir</button> -->
          </div> <br>


            <div class="col">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                  style="height: 100px" formControlName="Descripcion" [ngClass]="{
                  'is-invalid': validarDatos('Descripcion')}"></textarea>
                <div class="invalid-feedback">
                  <span *ngIf="contactForm.get('Descripcion')?.errors">Maximo 200 caracteres </span>
                  <span *ngIf="contactForm.get('Descripcion')?.errors">El campo es requerido</span>
                </div>
                <label for="floatingTextarea2">Descripcion de las tareas realizadas</label>
              </div>
            </div>
            <br>
          </div>

          <div class="modal-footer mx-auto">
            <button type="button" class="btn btn-primary">Nueva</button>
            <button type="submit" class="btn btn-primary">Guardar Todo</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>

          </div>
        </form>
      </body>
    </div>
  </div>
</div>
