<!-- Fooder -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-linkedin"></i></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-github"></i></a>
        <i class="bi bi-pencil-fill btn" data-bs-toggle="modal" data-bs-target="#RedesSociales"></i>
      </section>
      <!-- Section: Social media -->

      <a class="btn btn-outline-light btn-floating m-1 mb-3" href="#!" role="button"><i
          class="bi bi-file-earmark-arrow-down"></i></a>
      Descarga mi Curriculum Vitae <i class="bi bi-pencil-fill btn" data-bs-toggle="modal" data-bs-target="#Curriculum"></i>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p><i class="bi bi-envelope"></i> Email: horaciojh@hotmial.com <i class="bi bi-pencil-fill btn" data-bs-toggle="modal" data-bs-target="#CorreoElectronico"></i></p>
      © 2022 Copyright:
      <a class="text-white" href="#">Horacio Herrlein</a>
    </div>
    <!-- Copyright -->
  </footer>
