
    <!-- Experiencia laboral -->
    <hr color="black" size="5">
    <h3 style="text-align:center; margin-top: 20px;">Experiencia Laboral<i class="bi bi-pencil-fill btn"
      data-bs-toggle="modal" data-bs-target="#ExperienciaLaboral"></i></h3>
      <div *ngFor="let empleos of trabajos">
    <!-- Tarjetas laborales-->
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h6>{{empleos.empresa}}</h6>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="card mb-3 my-3 mx-3" style="max-width:fit-content;">
              <div class="row g-0">
                <div class="col-md-4 text-center my-auto">
                  <img [src]="empleos.img" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body color-card">
                    <h5 class="card-title">{{empleos.empresa}}</h5>
                    <p class="card-text">{{empleos.tareas}}</p>
                    <p class="card-text">Desde el {{empleos.inicio}} hasta el {{empleos.fin}} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      

  <!-- Fin Experiencia laboral -->
