<app-navbar></app-navbar>
<app-banner></app-banner>
<app-datos-personal></app-datos-personal>
<app-estudios></app-estudios>
<app-trabajos></app-trabajos>
<app-habilidades></app-habilidades>
<app-proyectos></app-proyectos>
<app-fooder></app-fooder>
<!-- <app-dashboard></app-dashboard> -->
<app-modal-loguin></app-modal-loguin>
<app-modal-banner></app-modal-banner>
<app-modal-datos-personales></app-modal-datos-personales>
<app-modal-foto></app-modal-foto>
<app-modal-estudios></app-modal-estudios>
<app-modal-laboral></app-modal-laboral>
<app-modal-sofware></app-modal-sofware>
<app-modal-rrhh></app-modal-rrhh>
<app-modal-proyectos></app-modal-proyectos>
<app-modal-redes></app-modal-redes>
<app-modal-mail></app-modal-mail>
<app-modal-curriculum></app-modal-curriculum>
