<!-- Estudios Realizados -->
<div class="modal fade" id="DatosAcademicos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Agregar o Quitar Estudios</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-12">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Primer Estudio
          </button>
          <button type="button" class="list-group-item list-group-item-action">Primer Estudio</button>
          <button type="button" class="list-group-item list-group-item-action">Primer Estudio</button>
          <button type="button" class="list-group-item list-group-item-action">Primer Estudio</button>
          <button type="button" class="list-group-item list-group-item-action" disabled>Primer Estudio</button>
        </div>
      </div>

      <br>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
          style="height: 60px"></textarea>
        <label for="floatingTextarea2">Descripcíon Académica</label><br>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger">Eliminar</button>
      <button type="button" class="btn btn-primary">Nueva Estudio</button>
      <button type="button" class="btn btn-primary">Guardar Todo</button>
    </div>
  </div>
</div>
</div>

